header {
  font-family: "Acme", sans-serif;
  font-size: 45px;
  line-height: normal;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(3, 25, 37);
  max-width: 1200px;
  background-color: #918b83;
}
main {
  max-width: 960px;
  margin: 0 auto;
  grid: 1fr 1fr 1fr;
}
p {
    align-content: center;
    color: #552174;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 36px;
    line-height: normal;
  }
  .picture1
  { margin: 10px auto;
    position:relative}
  h1 {
      position: relative;
      float: inline-start;
      color: #6728cc;
      font-family: 'Acme', sans-serif;
      font-size: 45px;
      line-height: normal;}
.footer
 {
  background-color: #cc7511;
  margin: 1rem auto;
  padding: 1rem auto;
  display: flex;
  font-family: 'Acme', sans-serif;
  font-size: 45px;
  max-width: auto;
  align-content: baseline;
  justify-items: center;
  border-bottom: 1px solid #ccc;
}