header {
  font-family: "Acme", sans-serif;
  font-size: 45px;
  line-height: normal;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(3, 25, 37);
  max-width: auto;
  background-color: #cfb10a;
}
main {
  max-width: 960px;
  margin: 0 auto;
  grid: 1fr 1fr 1fr;
}
p {
    align-content: center;
    color: #030303;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 36px;
    line-height: normal;
  }
  .picture1
  { margin: 0.5rem 1rem ;
    border: 1px solid #ffd700;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow:  0 0 1rem #bbb;
    grid: 1/3;}
  
    .picture2
  { margin: 0.5rem 1rem ;
    border: 1px solid #ff00004d;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow:  0 0 1rem #bbb;
    grid: 1/3;}
  h1 {
      position: relative;
      float: inline-start;
      color: #6728cc;
      font-family: 'Acme', sans-serif;
      font-size: 45px;
      line-height: normal;}
footer
 {
  background-color: #cc3d11;
  margin: 1rem auto;
  padding: 1rem auto;
  display: flex;
  font-family: 'Acme', sans-serif;
  font-size: 45px;
  max-width: auto;
  align-content: center;
  justify-items: center;
  border-bottom: 1px solid #ccc;
}