/* WDD 130 Positioning Activity */

/* Activity 1 Styles */
.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
} 
  
.red1 {
  width: 100%;
  height: 100px;
  background-color: red;
  grid-column: 1/3;
}
.green1 {
  width: 200px;
  height: 200px;
  background-color: green;
}
.yellow1 {
  width: 200px;
  height: 200px;
  background-color: gold;
}
.blue1 {
  width: 100%;
  height: 100px;
  background-color: blue;
  grid-column: 1/3;
}

/* Activity 2 Styles */
.content2  {
    position: relative;
    height: 400px;

    }
.red2 {
  position: absolute;
  top: 10px; left: 50px;
  width: 100px;
  height: 100px;
  background-color: red;
  
}
.green2 {
  position: absolute;
  top: 60px; left: 105px;
  width: 100px;
  height: 100px;
  background-color: green;
  
}
.yellow2 {
  position: absolute;
  top: 110px; left: 160px;
  width: 100px;
  height: 100px;
  background-color: gold;
}
.blue2 {
  position: absolute;
  top: 150px; left: 205px;
  width: 100px;
  height: 100px;
  background-color: blue;
}

/* Activity 3 Styles */
.content3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center ;
  }
.red3 {
  width: 500px;
  height: 100px;
  background-color: red;
  grid-column: 1/3;
}
.green3 {
  width: 200px;
  height: 200px;
  background-color: green;
}
.yellow3 {
  width: 200px;
  height: 200px;
  background-color: gold;
}
.blue3 {
  width: 500px;
  height: 100px;
  background-color: blue;
  grid-column: 1/3;
}

/* Activity 4 Styles */
.content4 {
  /* Activity Four Container */
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px
}
.red4 {
  background-color: red;
}
.green4 {
  background-color: green; 
  
}
.yellow4 {
  background-color: gold;
  
}
.blue4 {
  width: 300px;
  height: 400px;
  background-color: blue;
  grid-column: 2/3;
  grid-row: 1/4
}

/* Activity 5 Styles */
.content5 {
  /* Activity Five Container */
  }
.red5 {
  height: 100px;
  background-color: red;
}
.green5 {
  float: left;
  width: 200px;
  height: 200px;
  background-color: green;
  margin-right: 1rem;
}
.yellow5 {
  padding: 1rem;
  background-color: gold;
}
.blue5 {
  height: 100px;
  background-color: blue;
  }

/* Activity 6 Styles */
.content6 {
  display: grid;
  grid-template-columns:6;
  grid-template-rows: 6;
  height: 400px
    /* Activity Six Container */
}
.red6 {
  width: 100px;;
  background-color: red;
  grid-row: 1/3;
  grid-column: 1/4;
  z-index: 5;
}
.green6 {
  width: 50px;
  background-color: green;
  grid-row: 3/3;
  grid-column: 1/4;
  z-index: -5;
}
.yellow6 {
  width: 100px;
  background-color: gold;
}
.blue6 {
  width: 100px;
  background-color: blue;
}

/* Do not change this container class */
.activity {
  width: 600px;
  margin: 1rem auto;
  font-family: Arial, sans-serif;
  border: 1px solid #777;
  padding: 1rem;
  clear: both;
  overflow: auto;
}

.title {
  background-color: #ddd;
}
