* {
  margin: 0;
  padding: 0;
}
p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 0px;
}

header, footer
 {
  background-color: #cc7511;
  font-family: 'Acme', sans-serif;
  font-size: 36px;
  max-width: 960px;
  align-content: center;
  justify-content: center;
}

a {
  color:#ffd700;
}

.page {
  max-width: 960px;
  margin: 1rem auto;
}
h1,
h2 {
  color: #0c6329;
  font-family: 'Acme', sans-serif;
  font-size: 36px;
}
h3 {
  color: #0044ff;
  font-family: 'Acme', sans-serif;
  font-size: 36px;
}
#row1 {
  text-align: left;
  align-items: center;
}
#row2 {
  text-align: right;
  align-items: center;
}
#row3 {
  text-align: center;
  align-content: center;
}

left-column,
right-column {
  align-content: center;
  width: 960px;
  flex: 1 0 15em;
 }

nav a {
  color: #f8f7f7;
  text-decoration: none;
  font-size: 26px;
  max-width: 960px;
  line-height: 4em;
}
nav li {
  display: inline-block;
}

.color01 {
  color: #2b106ba1;
}
.color02 {
  color: #098d35;
}
.color03 {
  color: #cc7511;
}

#content {
  width: 75%;}

 
img {
  max-width: 75%;
}
#logo {
  position: left;
  top: 0px;
  background-color: #ffffff;
  border: solid thick #000000;
  
}

