* {
  margin: 0;
  padding: 0;
}
<style>
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Yanone+Kaffeesatz:wght@300&display=swap');
</style>


body {
  background-color: #d3cece;
  font-size: 16px;
}

header,
footer {
  background-color: #cc7511;
  font-size: 16px;
  align-items: left;
  justify-content: right;
}
a {
  color:#ffd700;
}

.page {
  max-width: 960px;
  margin: 1rem auto;
}
h1,
h2 {
  color: #0c6329;
  font-family: "Acme";
  margin-bottom: 0;
  font-size: 2em;
}
h3 {
  color: #0044ff;
  font-family: "Acme";
  font-size: 2em;
}
nav a {
  color: #8b0000;
  text-decoration: none;
  font-size: 1.5em;
  line-height: 4em;
}
nav li {
  display: inline-block;
}
#row1 {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content:left;
  align-items:left;
}
#row2 {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  align-items: right;
}

.color01 {
  color: #1900ffa1;
}
.color02 {
  color: #098d35;
}
.color03 {
  color: #cc7511;
}
#row3 {
  text-align: center;
}
#content {
  width: 75%;
  
.left-column,
.right-column {
  width: 48%;
  flex: 1 0 15em;
  padding: 0;
}
 
img {
  max-width: 100%;
}
#logo {
  position: left;
  top: 0px;
  background-color: #ffffff;
  border: solid thick #000000;
  
}
