header
 {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f1bb69;
  
}
.logo{
  width: 400px;
}
nav{
    color: #6e4911;
    align-items: center;
    justify-content: space-between;
    display:flex
  }
  nav li {
    flex: 1 1 auto;
  }
  nav a{
    display:block;
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
  
  }
  nav ul{
    display:flex;
    list-style: none;
  }
  footer
 {
  background-color: #cc7511;
  display: flex;
  align-items: center;
  justify-content: space-evenly ;
  padding: .5rem;
}