header
 {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  max-width: 1200px;
  background-color: #cc7511;
  
}
nav{
  align-items: center;
  justify-content: space-between;
}
body {
  margin: 2px;
  padding: 5px;
  box-sizing: content-box;
  width: 100%;
  border: #0c6329;
  align-items: center;
}

p {
  align-content: center;
  color: #1d0f25;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 36px;
  line-height: normal;
}
.heropic {
  max-width: 960rem;
  align-content: center;
  justify-items: center;
}

h1.h2.h3,h4{
  display: grid;
  grid-column: 1fr 1fr 1fr;
}
h1 {
  position: relative;
  float: inline-start;
  color: #b6cfbe;
  font-family: 'Acme', sans-serif;
  font-size: 45px;
  line-height: normal;
}h2,h3 {
  color: #0c6329;
  font-family: 'Acme', sans-serif;
  font-size: 36px;
  line-height: normal;
}
h4 {
  color: #0044ff;
  font-family: 'Acme', sans-serif;
  font-size: 36px;
  align-items: center;
  justify-content: center;}

.left-column
 {
   grid-column: 2/3;
  align-content: space-around;
  justify-content: left;
  width: 960px;
  flex: 1 0 15em;
 }
 .articlepic2 {
  margin: 0.5rem 1rem ;
  border: 1px solid #ffd700;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow:  0 0 1rem #bbb;
  float: right;
}
 .right-column
 {
  grid-column: 1/3;
  align-content: space-around;
  align-items: center;
  justify-content: right;
  width: 960px;
  flex: 1 0 15em;
 }
 .articlepic1 {
  margin: 0.5rem 1rem ;
  border: 1px solid #ffd700;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow:  0 0 1rem #bbb;
  float: left;
}
 .page {
  max-width: 1200px;
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
}
 .box { 
    margin: 1.5rem;
    border:1px solid navy;
    padding: 0.75rem;
    align-content: center;
 }
 

footer
 {
  background-color: #cc7511;
  margin: 1rem auto;
  display: flex;
  font-family: 'Acme', sans-serif;
  font-size: 45px;
  max-width: 1200px;
  align-content: center;
  border-bottom: 1px solid #ccc;
}

