header
 {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(3, 25, 37);
  max-width: 1200px;
  background-color: #f1bb69;
  
}
main {
  max-width: 960px;
  margin: 0 auto;
  grid:1fr 1fr 1fr
}

nav{
  color: #6e4911;
  align-items: center;
  justify-content: space-between;
}
body {
  margin: 2px;
  padding: 5px;
  box-sizing: content-box;
  width: 100%;
  border: #0c6329;
  align-items: center;
}

p {
  align-content: center;
  color: #1d0f25;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 36px;
  line-height: normal;
}

.heropic {
  width: 100%;
}
.herodiv{
  margin: 10px auto;
  position:relative
}
.stats {
  position: absolute;
  top: 25px;
  right: 50px;
  background: #ccc;
  border: 1px solid #b6cfbe;
  padding: 1.5rem;
  box-shadow: 0 0 30px #333;
  opacity: 0.9;
  align-content: center;
}
.stats span {
  font-style: italic;
  font-weight: 700;
}

h1.h2.h3,h4{
  display: grid;
  grid-column: 1fr 1fr 1fr;
}

h1 {
  position: relative;
  float: inline-start;
  color: #8a1e0b;
  font-family: 'Acme', sans-serif;
  font-size: 45px;
  line-height: normal;
}h2,h3 {
  color: #0c6329;
  font-family: 'Acme', sans-serif;
  font-size: 36px;
  line-height: normal;
}
h4 {
  color: #0044ff;
  font-family: 'Acme', sans-serif;
  font-size: 36px;
  align-items: center;
  justify-content: center;
}
  
  .articlepic1 {
    margin: 0.5rem 1rem ;
    border: 1px solid #ffd700;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow:  0 0 1rem #bbb;
    grid: 3/3;
   
  }
  
  .right-column
 {
  align-content: space-around;
  align-items: center;
  justify-content: left;
  width: 960px;
  flex: 1 0 15em;
 }
 
.articlepic2 {
  margin: 0.5rem 1rem ;
  border: 1px solid #ffd700;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow:  0 0 1rem #bbb;
  grid: 1/3;
  }

.left-column
 {
  align-content: space-around;
  align-items: center;
  justify-content: right;
  width: 960px;
  flex: 1 0 15em;
 }
 
 
 .page {
  max-width: 1200px;
  margin: 1rem auto;
  align-items: center;
  align-items: center;
  justify-content: center;
}
 
footer
 {
  background-color: #cc7511;
  margin: 1rem auto;
  padding: 1rem auto;
  display: flex;
  font-family: 'Acme', sans-serif;
  font-size: 45px;
  max-width: 1200px;
  align-content: baseline;
  justify-items: center;
  border-bottom: 1px solid #ccc;
}

