* {
  margin: 1rem;
  padding: 1rem;
}
p {
  color: #1d0f25;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 36px;
  line-height: normal;
}
.heropic {
  max-width: 960rem;
}
.articlepic {
  margin: 0.5rem 1rem ;
  border: 1px solid #ffd700;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow:  0 0 1rem #bbb;
  float: left;
}
h1,
h2 {
  color: #0c6329;
  font-family: 'Acme', sans-serif;
  font-size: 36px;
  line-height: normal;
}
h3 {
  color: #0044ff;
  font-family: 'Acme', sans-serif;
  font-size: 36px;
  align-items: center;
  justify-content: center;}

header
 {
  background-color: #cc7511;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  max-width: 1200px;
  font-family: 'Acme', sans-serif;
  font-size: 45px;
  
  
}
.left-column
 {
  align-content: flex-start;
  justify-content: left;
  width: 960px;
  flex: 1 0 15em;
 }
 .right-column
 {
  align-content: space-around;
  justify-content: right;
  width: 960px;
  flex: 1 0 15em;
 }
 .page {
  max-width: 960px;
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
}
 .box { 
    margin: 1.5rem;
    border:1px solid navy;
    padding: 0.75rem;
 }
 

.footer
 {
  background-color: #cc7511;
  margin: 1rem auto;
  display: flex;
  font-family: 'Acme', sans-serif;
  font-size: 45px;
  max-width: 1200px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

